body {
    font-family: 'Londrina Solid', cursive;
    margin: 0;
    color: white;
}
.top-banner{
    background-image: url(images/darkblue.jpg);
    background-repeat: no-repeat;
}
.bottom-banner{
    background-image: url(images/light.jpeg);
 
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
h1{
    font-size: 60px;
}
.button{
    padding: 10px;
    color: black;
    font-weight: 700;
    border-radius: 2px;
    font-size: 30px;
}
/*------Animation---------*/
.animation {
    width: 250px;
    height: 60PX;
    border: none;
    color: white;
    background-color: rgb(255, 0, 68);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
}
.animation:hover {
    box-shadow: inset 250px 0 0 0 #f9e506;
    cursor: pointer;
    color: black;
}

/* --------------------
   players styles
----------------------- */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.player{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.123);
    margin-bottom: 100px;
}
.player .player-billboard img{
    width: 430px;
    height: 300px;
}
.player-name {
    color: black;
    font-weight: 200px;
    font-size: 30px;    
}
.player-info {
    color: black;
    font-size: 25px; 
}

/*-------Footer--------*/
footer p, h2 {
    text-align: center;
    color: black;
    font-size: 25px;
}

/* ------------------------
        Media Queries
------------------------- */

/* Mobile Devices */
 @media only screen and (max-width: 688px) {
    .container{
         width: 100px;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }    
    .player{
        flex-direction: column;
    }
    .logo-background img{
        width: 450px;
    }    
 }

 /* Tablet Devices */
 @media only screen and (min-width: 688px) and (max-width: 992px) {
    .container{
         width: 100px;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }    
    .player{
        background-color: rgba(0, 255, 255, 0.5);
    }
    .logo-background img{
       width: 550px;
    }    
 }